article.tweetContainer {
  width: 100%;
  height: 100%;
  margin-bottom: 3mm;
  font-weight: thick;
  color: rgb(0, 0, 0);
  border: 3.5px solid rgb(0, 0, 0);
  font-family: 'Questrial', sans-serif;
  background-color: rgb(255, 245, 153);
}

article.tweetContainer:hover {
  border: solid 4px rgb(0, 0, 0);
  -moz-box-shadow: 5px 5px 0px rgb(0, 0, 0);
  -webkit-box-shadow: 10px 5px 0px rgb(0, 0, 0);
  box-shadow: 10px 10px 0px rgb(0, 0, 0);
  font-family: 'Questrial', sans-serif;
  font-weight: bolder;
}

article.tweetContainer p {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 5mm; 
  overflow-wrap: break-word;
}

article.tweetContainer footer {
  display: flex;
  font-size: 4mm;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: lighter;
  justify-content: space-between;
  border-top: 2px solid black;
}

article header {
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

article header img {
  height: 50px;
}

article header .username {
  font-size: 6mm;
}

article footer a {
  margin-top: 10px;
  font-size: 5mm;
}

.articleIcons {
  margin-top: 10px;
  opacity: 0;
}

article.tweetContainer:hover .articleIcons {
  opacity: 1;
}
article header #handle {
  opacity: 0;
  font-size: 5mm;
  margin-right: 10px;
}
article.tweetContainer:hover #handle {
  opacity: 1;
}
