html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: rgba(0, 0, 0, 0.747);
  background-color: #fcffa3;
  background-image: url("https://www.transparenttextures.com/patterns/ps-neutral.png");
  font-size: 25px;
  font-family: 'Bungee', cursive;
}

.container {
  width: auto;
  min-width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

