.hide {
  display: none;
}

.new-tweet {
  font-family: 'Bungee';
  border-bottom: bold;
  margin-top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
}

#counter {
  float: right;
  color: orange;
  font-size: 6.5mm;
}

#text-field  {
  float: left;    
  color: rgb(0, 0, 0);
  border: none;
  outline: 0;
  background: transparent;
  border-bottom: 5px solid rgba(0, 0, 0, 0.808);
  font-family: 'Bungee';
  font-size: 5mm;
  color: rgba(0, 0, 0, 0.747);
  width: 100%;
}

#text-field-button {
  width: 90px;
  height: 40px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Bungee';
  background-color:rgb(253, 108, 144);
  border-color:black;
  border-width: 3px;
  color: rgb(255, 255, 255);
  font-size: 5.5mm;   
}

::placeholder { 
  color: rgba(0, 0, 0, 0.747);
  opacity: 1; 
}




