/* @media only screen and (min-width: 1400px) {
  
  .composeNew {
    font-family: 'Bungee';
    font-size: 8mm;
    border-bottom: bold;
    margin-bottom: 2em;
    margin-top: 5em;
  }
  
  header {
    width: auto;
  }
} */

@media only screen and (min-width: 1024px) {
  
  .navbar {
    background-color: rgb(55, 122, 161);
  }
  
  header {
    margin-top: 100px;
    width: 45%;
    float: left;
    background: transparent;
  }
  
  .composeNew {
    margin-top: 150px;
    float: right;
    width: 55%;
  }
    
  #zombie {
    width: 270px;
    margin-top: 80px;
    position: relative;
  }
  article.tweetContainer p {
    font-size: 6mm;
  }
}








    